.navbar{
  margin-top: 0px;
  background-color:  royalblue;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 0px;
}
.header{
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;

}
.header h1{
  font-size: 40px;
      color: white;
      font-family: 4px solid sans-serif;
}
.container{
  margin-top: 0px;
}
.navbar1{
  margin-top: -20px;
  background-color:  gainsboro;
}
.navbar1 a{
 color:darkblue;
 text-align: left;
 font-size: 15px;
  margin-top: 0px;
  color: black;
}
.navbar1 a:hover{
 color:darkblue;

}

.navbar-collapse.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
      margin-top: -20px;
  background-color:  gainsboro;
}