<nav class="navbar1 ">
  <div class="container-fluid">
    <ul class="nav navbar-nav pull-left">
      <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Config <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a routerLink="/audiofiles">Audio Files</a></li>
                <li><a routerLink="/playlist-files">PlayList Files</a></li>
                <li><a routerLink="/buses">Buses</a></li>
                <li><a routerLink="/busdepos">Bus Depot</a></li>
               <!--  <li><a (click) ="playCon()">Palying Hours Config</a></li> -->
              </ul>
            </li>
             <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Publish <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a routerLink="/buspublish">Buses</a></li>
                <li><a routerLink="/busdepotpublish">BusDepot</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <!-- <li><a routerLink="/playauditsummery">Playlist Audit Summery</a></li> -->
                <li><a routerLink="/playauditlist">Play Audit List</a></li>
              </ul>
            </li>
            <li class = "sme">
              <i class="fa fa-power-off fa-2x" aria-hidden="true" (click) = "logout()"></i>
            </li>
            
        </ul>
  </div>
</nav> 
  <router-outlet></router-outlet>
<div class="row rw1">
 <h1>Playlist Files</h1>
</div>
<hr>
<div class="row stile">
  <div class="col-md-4">
    <label>Search</label>
    <input type="text" [(ngModel)] = "filter">
  </div>
    <div class="col-md-1">
<i class="fa fa-plus-square fa-2x" aria-hidden="true" data-toggle="modal" 
       data-target="#addplaylistmodal" (click)="getAudiofiles()"></i>
  </div>
</div>
<div class="container">
<!--   <div class="row">
    <nav class="navbar">
      <input class="form-control" type="text" name="search"  [(ngModel)] = "filter">      
    </nav>
      <div class="col-md-4 bttn">
      <input type="button" name="Add PlayList" value="Add Playlist" data-toggle="modal" 
       data-target="#addplaylistmodal">
  </div>
</div> -->
    <table class="table table-responsive ">
      <thead>
        <tr> 
          <th>S.No.</th>
          <th>PlayList Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let game of songslist | filter:filter | paginate: { itemsPerPage: 10, currentPage: p } ; let i=index ">
          <td>{{i+1+(p-1)*10}}</td>
          <td>{{game.pFileName}}</td>
          <td>
            <i class=" fa  fa-pencil-square-o fa-2x"  aria-hidden="true" data-toggle="modal" 
       data-target="#editplaylistmodal"></i>
            <!-- <i class="fa fa-trash fa-2x" aria-hidden="true"></i> -->
          </td>
        </tr>
      </tbody>
     
    </table>
     <pagination-controls (pageChange)="p = $event"></pagination-controls>

</div>
 
<div class="modal fade" id="addplaylistmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
                <h5 class="modal-title" id="exampleModalLabel">Add Songs & Publish</h5>
      </div>
        <div class="modal-body">
<div class="row">
  <label class="col-sm-6">Create Play List Name</label>
  <div class="col-sm-6">
    <input type="text" name="playlistname" class="form-control"[(ngModel)]="playlist">
  </div>
</div><br><br>
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-warning"
            dnd-sortable-container [sortableData]="sourceList" [dropZones]="['source-dropZone']">
            <div class="panel-heading">Source List</div>
            <div class="panel-body">
                <ul class="list-group">
                    <li *ngFor="let source of sourceList; let x = index" class="list-group-item"
                        dnd-sortable [sortableIndex]="x" [dragEnabled]="true"
                        [dragData]="source">{{source.fileName}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading">Target List</div>
            <div class="panel-body" dnd-droppable (onDropSuccess)="addTo($event)" [dropZones]="['source-dropZone']">
                <ul class="list-group">
                    <li *ngFor="let target of targetList ;let i=index" class="list-group-item" >
                        {{target.fileName}}
                      <!--   <input type="text" name="sum" [(ngModel)] = "targetList[i]"> -->
                        
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
</div>
        </div>
      <div class="modal-footer">
        <button type="submit" value="Submit" class="btn btn-primary" data-dismiss="modal" (click)= "Addplaylist()">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editplaylistmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
                <h5 class="modal-title" id="exampleModalLabel">Add Songs & Publish</h5>
      </div>
        <div class="modal-body">
<div class="row">
  <label class="col-sm-6">Create Play List Name</label>
  <div class="col-sm-6">
    <input type="text" name="playlistname" class="form-control"[(ngModel)]="playlist">
  </div>
</div><br><br>
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-warning"
            dnd-sortable-container [sortableData]="sourceList" [dropZones]="['source-dropZone']">
            <div class="panel-heading">Source List</div>
            <div class="panel-body">
                <ul class="list-group">
                    <li *ngFor="let source of sourceList; let x = index" class="list-group-item"
                        dnd-sortable [sortableIndex]="x" [dragEnabled]="true"
                        [dragData]="source">{{source.fileName}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading">Target List</div>
            <div class="panel-body" dnd-droppable (onDropSuccess)="addTo($event)" [dropZones]="['source-dropZone']">
                <ul class="list-group">
                    <li *ngFor="let target of targetList ;let i=index" class="list-group-item" >
                        {{target.fileName}}
                      <!--   <input type="text" name="sum" [(ngModel)] = "targetList[i]"> -->
                        
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
</div>
        </div>
      <div class="modal-footer">
        <button type="submit" value="Submit" class="btn btn-primary" data-dismiss="modal" (click)= "Addplaylist()">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>